body.dark {
  background-image: url("../images/primary/dark_Background_Border.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /*background-color: blue;*/
}

body.dark p {
  font-family: 'Over the Rainbow', cursive;
  font-size: 22px;
}

body.dark span.firstLetter {
  font-size: 50px;
  background-color: #7c6448;
  padding-left: 4px;
  padding-right: 4px;
  font-family: 'UnifrakturMaguntia', cursive;
}

body.light span.speak {
  /*font-family: 'Over the Rainbow', cursive;*/
  /*font-style: italic;*/
  font-weight: bold;
}
