.hide {
  display: none;
}
.cover-page {
  color: #9c7b43;
  background-image: url("../images/BookCover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
  width: 900px;
  text-align: center;
  font-family: 'Fondamento', cursive;

}
#open-book {
  margin-top: 500px;
  background-color: #9c7b43;
  color: brown;
}
