.hide {
  display: none;
}
.cover-page {
  color: #9c7b43;
  background-image: url("../images/BookCover.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 1162px;
  width: 1425px;
  text-align: center;
  font-family: 'Fondamento', cursive;
}
.firstLetter {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 30px;
}
.form-control {
  width: 500px;
  margin-left: 33%;
}
p {
  font-size: 17px;
  font-family:'Fondamento', cursive;
}
#open-book {
  margin-top: 500px;
  background-color: #9c7b43;
  color: brown;
}
.reRead {
  background-color: #a0896b;
  font-family: 'Fondamento', cursive;
  color: rgb(255, 248, 209);
}
.moral {
  color: #9c7b43;
  background-image: url("../images/BookCover.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 1162px;
  width: 1425px;
  text-align: center;
  font-family: 'Fondamento', cursive;
}
.moral p {
  font-size: 50px;
}
.quill-pages {
  background-image: url("../images/primary/quillBook.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  width: 1170px;
}
.choice {
  background-color: #a0896b;
  font-family: 'Fondamento', cursive;
  color: rgb(255, 248, 209);
  margin-bottom: 50px;
}
.blockquote {
  margin-top: 60px;
}
.img-container img {
  max-width: 100%;
  max-height: 450px;
}

.story-container p {
  max-height: 490px;
  overflow: auto;
}

.good {
  background-color: red;
}

.bad {
  background-color: green;
}
