.hide {
  display: none;
}
.cover-page {
  color: #9c7b43;
  background-image: url("../images/BookCover.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  width: 900px;
  text-align: center;
  font-family: 'Fondamento', cursive;

}
#open-book {
  margin-top: 500px;
  background-color: #9c7b43;
  color: brown;
}

.quill-pages {
  background-image: url("../images/primary/quillBook.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  width: 1170px;
}
